@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:ital,wght@0,600;0,800;0,900;1,600;1,700&display=swap');

    body {
      background:
        radial-gradient(rgb(250, 250, 250) 3px, transparent 4px),
        radial-gradient(rgb(250, 250, 250) 3px, transparent 4px),
        linear-gradient(#fff 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #d6d6d6 75px, #f6f6f6 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #d6d6d6 76px, #f6f6f6 77px, transparent 78px, transparent 109px),
        #fff;
      background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
      background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    }

    img {
      max-width: 100%;
    }

    h1 {
      font-family: 'Poppins', sans-serif;
      font-size: 7em;
      font-weight: 900;
      line-height: 88px;
      text-align: right;
      float: right; /* Float to create dropcap */
    }

    h2 {
      font-family: 'Poppins', sans-serif;
      /*letter-spacing: 1px;*/
      font-weight: 700;
      font-size: 50px;
      line-height: 0px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline dotted;
    }

    p ul {
      font-family: 'PT Serif', serif;
    }

    iframe {
      width: 100%;
      border: 4px solid grey;
    }

    .container {
      width: 580px;;
    }

    .questionBlock {
      max-width: 100%;
      height: fit-content;
      margin: 40px 0px 0px 20px;
      padding: 20px;
      overflow: auto;
    }

    .questionBlock:hover {
      border: 1px solid grey;
    }

    .antwoord::first-letter {
      color: rgb(100, 100, 100); 
      float: left;
      font-family: 'Times New Roman', Times, serif;
      font-size: 76px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }

    .code {
      background-color: lightgrey;
      font-weight: bold;
      padding: 8px;
    }